/dist/
/edge_mdt/tests/imagenet/
/tutorials/.ipynb_checkpoints/
/tutorials/mobilenet_pt/
/tutorials/mobilenet_tf/
/tutorials/keras_mobilenetv2.nbconvert.ipynb
/tutorials/pytorch_mobilenetv2.nbconvert.ipynb
